
    <%- include('partials/header') -%>
    <div class="bg-1"></div>
    <main class="container">
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-2 btn btn-secondary"> Login</a>
            <a href="/signup" class="col-2 btn btn-secondary"> Signup</a>
        </div>
        
        
        <div id="index-img">
            <!-- <img src="/opengym.png" alt="" style="margin:auto; width: 1000px; height:500px; display:block">  -->
            
        </div>
    </main>
    
    
    <%- include('partials/footer') -%>
